/*********************** Google Font **************************/
@import url("https://fonts.googleapis.com/css2?family=Gulzar&family=Lobster&family=Poppins:wght@400;500&display=swap");

/*************** Common Style ***************/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}

/****************Header Area****************/
header {
  width: 90%;
  height: 565px;
  margin-left: 60px;
  margin-top: 30px;
  background-color: #161616;
  border-radius: 30px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  overflow: hidden;
}
.header-title {
  margin-left: 140px;
  margin-top: 70px;
}
.header-title h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
}
.header-para {
  color: #fff;
  font-size: small;
}
.header-button {
  color: #fff;
  background-color: #f31d1d;
  width: 170px;
  height: 45px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}
.header-button i {
  margin-left: 10px;
  font-weight: 400;
}
.header-image img {
  width: 555px;
  height: 515px;
  margin-right: 150px;
}
header:hover img {
  transform: scale(0.5) rotate(360deg);
  transition: transform 5s;
}
.header-button:hover {
  background-color: tomato;
  transform: scaleX(1.3);
  transition: transform 3s;
}
/******************* Main ****************/
main {
  margin-left: 60px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/********************** Button Section *********************/
.container {
  background-color: #161616;
  border-radius: 10px;
  width: 260px;
  height: 190px;
}
.match-info {
  display: grid;
}
.btn-1 {
  padding: 16px 12px;
  margin: 15px;
  margin-top: 0px;
  border-radius: 10px;
  background-color: white;
  font-size: 0.8rem;
  font-weight: 600;
  outline: none;
  border: 1px solid #ddd;
}
.btn-2 {
  padding: 16px 12px;
  margin: 15px;
  margin-top: 0px;
  border-radius: 10px;
  background-color: white;
  font-size: 0.8rem;
  font-weight: 600;
  outline: none;
  border: 1px solid #ddd;
}
.btn-3 {
  padding: 16px 12px;
  margin: 15px;
  margin-top: 0px;
  border-radius: 10px;
  background-color: rgb(226, 9, 9);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
}

/**************** Blog Section *********************/
.container-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-right: 85px;
}
.blogs {
  box-sizing: border-box;
  border: 2px solid rgb(248, 242, 242);
  border-radius: 13px;
  margin-left: 20px;
}
.blog-image img {
  width: 286px;
  height: 179px;
  margin-right: 0px;
  padding: 10;
}
.blog-title {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 10px;
}
.blog-info {
  border-radius: 3px;
  border: 1px solid rgb(51, 49, 49);
  background-color: #fff;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 4px 13px;
  margin: 10px;
}
.icons .icon {
  margin: 20px;
  font-size: 0.8rem;
}
/******************Footer***************/
footer {
  background-color: #1f1e1e;
  color: #fff;
}
.footer-container {
  text-align: center;
  padding: 10px;
  font-style: italic;
}
hr {
  border: 1px solid rgb(49, 49, 49);
  margin-left: 80px;
  margin-right: 80px;
}
.footer-content ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.footer-content ul li {
  margin: 10px;
  font-size: 0.7rem;
}
.footer-content ul li a {
  text-decoration: none;
  color: rgb(194, 190, 190);
}
.social-link {
  margin-left: 50%;
}
.social-link a {
  border-bottom: 1px solid rgb(219, 219, 243);
  color: blue;
  margin: 2px;
}


/* mobile version */
@media only screen and (max-width: 600px) {
    header{
        margin-left: 0;
        width: 100%;
    }
    .header-content {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .header-title{
        margin-left: 0px;
      }
      .header-title h1{
        font-size: 33px;
      }
      .container-blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        margin-right: 85px;
        margin-top: 115px;
        margin-left: -22px;
      }
      .container {
        background-color: transparent;
        position: absolute;
        top: 72% ;
        width: 70%;
        height: 5%;
      }
      .header-image{
        margin-left: 100px;
      }
      .header-image img {
        width: 188px;
        height: 100%;
        margin-top: 7px;
    }
      
    
  }

/* tablet version  */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-title {
    margin-top: 0px;
  }
  .container-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    margin-left: 18%;
  }
  .match-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .box-container {
    position: relative;
  }
  .container {
    background-color: transparent;
    position: absolute;
    top: 47%;
    width: 90%;
    height: 5%;
  }
}
